<span class="episode-number">Ep. {{episode.number}}</span>
<img src={{episode.images.thumb}} class="episode-image">
<span class="release-date">{{moment-format episode.releaseDate 'LL'}}</span>
<h5>{{episode.title}}</h5>
