@import "_variables";
@import "_mailchimp";

body {
  background: #F4F4F4;
  color: $text-color;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

header {
  background: white;
}

.banner {
  background-color: $secondary-color;
  padding-bottom: 40px;

  a {
    background-image: url(/careerjs.jpg);
    background-size: cover;
    height: 300px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
  }

  .tagline {
    color: white;
    text-align: center;
    font-size: 30px;
    width: 60%;
    margin: auto;
  }
}

.social-icons {
  background-color: $secondary-color;
  text-align: center;
  padding-bottom: 20px;
  a {
    margin-right: 25px;
    text-decoration: none;
    .fa {
      color: white;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

a, a:hover {
  color: $text-color;
}

.episode {
  position: relative;
  padding: 20px;
  cursor: pointer;

  .episode-number {
    position: absolute;
    top: 30px;
    right: 35px;
    color: white;
  }
}

.release-date {
  color: #aaa;
  font-style: italic;
  font-size: 0.85em;
}

.episode-image {
  margin-bottom: 20px;
  width: 100%;
}

nav {
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: $secondary-color;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  line-height: 150%;
  margin: 0;

  a:link, a:visited, a:hover, a:active {
    color: $text-color;
    text-decoration: none;
  }
}

div.container-fluid {
  margin-top: 20px;
}

.episode-item {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #f4f4f4;
}

.view-episode {
  font-style: italic;
  font-size: 0.85em;
}

.page-not-found {
  margin-top: 20px;
  text-align: center;
}
