<p>Jeffrey is a programmer, educator, and consultant specializing in Ember.js.  He's lent his talents several startups, a non-profit, and two consultancies.  Currently he spends his time running EmberScreencasts.com and building EmberSchool.</p>
<img src="/jeff.jpg" alt="Jeffrey Biles">
