<div class="container-fluid">
  <div class="col-md-4">
    <h1 class="logo">
      {{#link-to 'index'}}Career.js{{/link-to}}
    </h1>
  </div>
  <nav class="col-md-8">
    <ul class="nav nav-pills pull-right">
      {{#active-link class="nav-item"}}
        {{#link-to 'index'}}Home{{/link-to}}
      {{/active-link}}
      {{#active-link class="nav-item"}}
        {{#link-to 'episodes'}}Episodes{{/link-to}}
      {{/active-link}}
    </ul>
  </nav>
</div>
{{outlet}}
